<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config</title>
</head>
<body>
    <form method="post" action="/new_config">
        <table>
        {% for key in config %}
            <tr>
                <td>
                    {{ key }}:
                </td>
                <td>
                    <input type="text" name="{{ key }}" placeholder="{{ config[key] }}">
                </td>
            </tr>
        {% endfor %}
        </table>
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</body>
</html>