<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config</title>
</head>
<body>
    <form method="post" action="/config">
        <table>
        {% for key in config %}
            <tr>
                <td>
                    {{ key }}:
                </td>
                <td>
                    <input type="text" name="{{ key }}" value="{{ config[key] }}">
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td>
                    <button type="submit">Update</button>
                </td>
                <td>
                    <button type="reset">Reset</button>
                </td>
            </tr>
        </table>

    </form>
</body>
</html>