{% extends 'bootstrap/base.html' %}

{% block title %}
    Settings tool
{% endblock %}

{% block navbar %}
    {%  include 'navbar.html' %}
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/support.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global_styles.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="mt-1">
        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert {{ category if not category == 'message' else 'alert-info' }}" style="margin-bottom: 5px">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        </div>
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}