{% extends 'base.html' %}
{% block page_content %}
    <h3 class="mb-3" align="center">Конфигурация ядра</h3>
    <hr>
    <form method="post" action="/config">
        <div class="row mb-3">
                <textarea class="col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-2 col-xs-12 col-sm-12 col-md-10 col-lg-8"
                          rows="30" type="textarea" name="config">{{ config }}</textarea>
        </div>
        <div class="row">
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-4 col-lg-offset-6 col-xs-12 col-sm-6 col-md-3 col-lg-2 mb-2">
                <button class="btn btn-danger btn-block" type="reset">Сбросить</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <button class="btn btn-success btn-block" type="submit">Обновить</button>
            </div>
        </div>
    </form>
{% endblock %}