$step: 5px;

.margin-top {
  margin-top: $step;
}

.margin-right {
  margin-right: $step;
}

.margin-bottom {
  margin-bottom: $step;
}

.margin-left-sm {
  margin-left: $step * 2;
}

.margin-top-sm {
  margin-top: $step * 2;
}

.margin-right-sm {
  margin-right: $step * 2;
}

.margin-bottom-sm {
  margin-bottom: $step * 2;
}

.margin-left-sm {
  margin-left: $step * 3;
}

.margin-top-md {
  margin-top: $step * 3;
}

.margin-right-md {
  margin-right: $step * 3;
}

.margin-bottom-md {
  margin-bottom: $step * 3;
}

.margin-left-md {
  margin-left: $step * 3;
}

.margin-left-sm {
  margin-left: $step * 3;
}

.margin-top-lg {
  margin-top: $step * 4;
}

.margin-right-lg {
  margin-right: $step * 4;
}

.margin-bottom-lg {
  margin-bottom: $step * 4;
}

.margin-left-lg {
  margin-left: $step * 4;
}

.padding-top {
  padding-top: $step;
}

.padding-right {
  padding-right: $step;
}

.padding-bottom {
  padding-bottom: $step;
}

.padding-left-sm {
  padding-left: $step * 2;
}

.padding-top-sm {
  padding-top: $step * 2;
}

.padding-right-sm {
  padding-right: $step * 2;
}

.padding-bottom-sm {
  padding-bottom: $step * 2;
}

.padding-left-sm {
  padding-left: $step * 3;
}

.padding-top-md {
  padding-top: $step * 3;
}

.padding-right-md {
  padding-right: $step * 3;
}

.padding-bottom-md {
  padding-bottom: $step * 3;
}

.padding-left-md {
  padding-left: $step * 3;
}

.padding-left-sm {
  padding-left: $step * 3;
}

.padding-top-lg {
  padding-top: $step * 4;
}

.padding-right-lg {
  padding-right: $step * 4;
}

.padding-bottom-lg {
  padding-bottom: $step * 4;
}

.padding-left-lg {
  padding-left: $step * 4;
}
