@import "help-styles";

@font-face {
  font-family: "Apercu";
  src: url(../../src/assets/ApercuPro.ttf) format("truetype");
}

@font-face {
  font-family: "BookmanBold";
  src: url(../../src/assets/BookmanBold.ttf) format("truetype");
}

.clickable {
  font-weight: bolder;
  text-decoration: none !important;
  font-size: 20px;
  color: black;
  transition: color 0.3s;
}

.clickable:hover {
  color: #DAB6C8;
}

.custom-table {
  width: 100%;
}

.custom-table th, td {
  padding-left: 7px !important;
}

.custom-table-header {
  background: rgb(190, 190, 190);
}

.custom-table-header tr {
  height: 40px;
}

.custom-table-body {
  background: lightgray;
}

.custom-table-body tr {
  background: white;
  height: 40px;
}

.custom-table-body tr:nth-child(even) {
  background: rgb(240, 240, 240);
}

.custom-table-body .selectable-table-row:hover {
  background: #d9d9d9;
  cursor: pointer;
}

.custom-list-header {
  background: rgb(190, 190, 190);
  font-size: large;
  font-weight: bold;
  min-height: 40px;
  line-height: 40px;
}

.custom-list-body div.row {
  background: white;
  font-size: large;
  min-height: 40px;
  line-height: 40px;
}

.custom-list-body div.row:nth-child(even) {
  background: rgb(240, 240, 240);
}

.custom-file-input:lang(ru) ~ .custom-file-label:lang(ru)::after {
  content: "Выберете файл";
}
