$step: 5px;

.margin-top {
    margin-top: $step;
}

.margin-right {
    margin-right: $step;
}

.margin-bottom {
    margin-bottom: $step;
}

.margin-left-sm {
    margin-left: $step * 2;
}

.margin-top-sm {
    margin-top: $step * 2;
}

.margin-right-sm {
    margin-right: $step * 2;
}

.margin-bottom-sm {
    margin-bottom: $step * 2;
}

.margin-left-sm {
    margin-left: $step * 2;
}